name: Release
on:
  push:
    branches:
      - main # or main

# permissions:
#   contents: read # for checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: sem_ver
    # permissions:
    #   contents: write # to be able to publish a GitHub release
    #   issues: write # to be able to comment on released issues
    #   pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
